<div class="row">
    <div class="col-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle manage-button" data-bs-toggle="dropdown" aria-expanded="false">
                Manage Recipe
            </button>
            <ul class="dropdown-menu">
                <!-- <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li> -->
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="toggleConfirmDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>

        <div *ngIf="confirmDeleteRecipe === true" class="text-center">
            <p>Confirm Delete?</p>
            <button class="btn btn-danger btn-sm me-2" (click)="onDeleteRecipe()">Yes</button>
            <button class="btn btn-secondary btn-sm" (click)="toggleConfirmDeleteRecipe()">No</button>
        </div>
    </div>
</div>


<div class="card recipe-card p-4" *ngIf="recipe">
    <i
        class="fa"
        [ngClass]="{'fas fa-heart': recipe.favorite, 'far fa-heart-o': !recipe.favorite}"
        (click)="toggleFavorite()"
        title="Toggle Favorite"
    >
    </i>

    <h1 class="recipe-title">{{ recipe.getName() }}</h1>
    <p class="meta-info" *ngIf="recipe.getServings() !== null" >Serves: {{ recipe.getServings() }} | Meal: {{ recipe.getMealType() }}</p>
    <p class="meta-info" *ngIf="recipe.getWebsite() !== ''">Website: <a [href]="recipe.getWebsite()" target="_blank" rel="noopener noreferrer" >{{ recipe.getWebsite() }}</a></p>

    <div class="row mt-4">
        <div class="col-md-6">
          <h4 class="section-title">Ingredients</h4>
          <ul class="ingredient-list">
            <li *ngFor="let ingredient of recipe.getIngredients()">{{ ingredient.amount }} {{ ingredient.name }}</li>
          </ul>
        </div>
    
        <div class="col-md-6">
          <h4 class="section-title">Directions</h4>
          <ol class="directions-list">
            <li *ngFor="let instruction of recipe.getInstructions()">{{ instruction }}</li>
          </ol>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h4 class="section-title">Notes:</h4>
            {{ recipe.getAdditionalNotes() }}
        </div>
            
    </div>

</div>