<div class="row">
    <div class="col-xs-12">
        <img *ngIf="recipe.getImageUrl() !== ''" [src]="recipe.getImageUrl()" alt="{{ recipe.getName() }}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.getName() }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <!-- <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li> -->
                <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <!-- INGREDIENTS  -->
    <div class="col-6 col-md-4">
        <h3>Ingredients</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.getIngredients()">{{ ingredient.amount}} {{ ingredient.name }} </li>
        </ul>
    </div>
    <!-- INSTRUCTIONS  -->
    <div class="col-12 col-md-8">
        <h3>Ingredients</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let instruction of recipe.getInstructions()">{{ instruction }}</li>
        </ul>
    </div>
</div>
<div class="row">
    <!-- ADDITIONAL NOTES  -->
    
    <div class="col-xs-12" *ngIf="recipe.getAdditionalNotes() !== ''">
        <h3>Notes:</h3>
        {{ recipe.getAdditionalNotes() }}
    </div>
</div>