<!-- <div class="row">
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>   -->


<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <app-recipe-list></app-recipe-list>
</div>


<!-- Modal to Display recipes  -->

<ng-container *ngIf="isModalOpen">
  <div class="modal-backdrop" (click)="onCloseModal()"></div>
  <div class="modal-content">
    <router-outlet></router-outlet>
  </div>
</ng-container>