 <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
      <button class="btn btn-success pull-right" (click)="onEditCategories()">Edit Categories</button>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-xs-12 text-center">
      <!-- Button Group -->
      <div class="btn-group btn-group-justified">
        <button class="btn btn-primary " (click)="selectDisplay('all')" [class.active]="selectedDisplay === 'all'">All</button>
        <button class="btn btn-primary " (click)="selectDisplay('meals')" [class.active]="selectedDisplay === 'meals'">Meals</button>
        <button class="btn btn-primary " (click)="selectDisplay('categories')" [class.active]="selectedDisplay === 'categories'">Categories</button>
        <button class="btn btn-primary " (click)="selectDisplay('favorites')" [class.active]="selectedDisplay === 'favorites'">Favorites</button>
      </div>
    </div>
  </div>


  <hr>

  <!-- Display all Recipes  -->
  <div class="row">
    <div class="col-xs-12" *ngIf="selectedDisplay === 'all'">
      <app-recipe-item *ngFor="let recipeEl of recipes; let i = index" [recipe]="recipeEl" [index]="i"></app-recipe-item>
    </div>
  </div>


  <!-- Display Meals  -->
  <div *ngIf="selectedDisplay === 'meals'">
    <div *ngFor="let meal of meals">
      <div
        class="meal-header list-group-item text-white"
        [class.active-meal]="openedMeal === meal"
        (click)="openMeal(meal)"
      >
        <div class="meal-text">
          <h4 class="meal-title">{{ meal }}</h4>
          <h4 class="recipe-count">Recipes: {{ filterRecipesByMeal(meal).length }}</h4>
        </div>
      </div>

      <div *ngIf="mealOpen && openedMeal === meal">
        <div class="recipe-list">
          <app-recipe-item *ngFor="let recipe of filterRecipesByMeal(meal)" [recipe]="recipe"></app-recipe-item>
        </div>
      </div>
    </div>
  </div>




  <!-- Display Categories  -->
  <div *ngIf="selectedDisplay === 'categories'">
    <div *ngFor="let category of categories">
      <div
        class="meal-header list-group-item text-white"
        
        (click)="openCategory(category)"
      >
        <div class="meal-text">
          <h4 class="meal-title">{{ category.name }}</h4>
          <h4 class="recipe-count">Recipes: {{ filterRecipesByCategory(category).length }}</h4>
        </div>
      </div>

      <div *ngIf="categoryOpen && openedCategory === category.name">
        <div class="recipe-list">
          <app-recipe-item *ngFor="let recipe of filterRecipesByCategory(category)" [recipe]="recipe"></app-recipe-item>
        </div>
      </div>
    </div>
  </div>



  <!-- Display all Recipes  -->
  <div class="row">
    <div class="col-xs-12" *ngIf="selectedDisplay === 'favorites'">
      <app-recipe-item 
        *ngFor="let recipeEl of favoriteRecipes; let i = index" 
        [recipe]="recipeEl" 
        [index]="i"
      ></app-recipe-item>
    </div>
  </div>